.timer{
    background-color: blueviolet;opacity:90%;border-radius: 50%;
    width: 250px;height: 240px;display: flex;;margin-top: 0;padding-top: 0%;text-align: center;
}
.container{
    padding-top: 100px;
}
.timer_container{
    background-color:wheat;
    width: 20ww;
    border-radius: 1rem;
    box-shadow: 0 1rem 1rem -0.7rem black;
}
#text{
    font-size: 10px;
}
#numbers{
    top:-90%;
}