.sidebar-wrapper {
    height: 110vh;
    background-color: blueviolet;opacity: 80%;
    color: yellow;
    width: 20vw;
    min-width: 300px;
    text-align: center;
    padding-top: 20px;
}

.sidebar-wrapper .header {
    font-size: 1.7em;
    margin-bottom: 30px;
}

.sidebar-wrapper .user .avatar {
    width: 9vw;
    height: 9vw;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    border-radius: 50%;
}

.sidebar-wrapper .user .name {
    margin-top: 20px;
    font-size: 1.2em;
}

.sidebar-wrapper .links {
    text-align: left;
    padding-top: 80px;
}

.sidebar-wrapper .link {
    color:black;background-color: orange;opacity: 90%;
    text-decoration: none;
    border-bottom: 1px solid blueviolet;
    padding: 15px 25px;
}
